.box {
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  background-color: azure;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

body {
  background-image: url(https://media.istockphoto.com/id/1186651737/photo/beauty-pastel-sky-soft-color-cloud-sweet-background.jpg?b=1&s=170667a&w=0&k=20&c=x603mALFT4ybBQUJeD7_u-xYbCOHRQhbJVuksFK1sVQ=);
  background-repeat: no-repeat;
  background-size: cover;
}
